<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <h1>Recipe List</h1>

    <table align="center">
        <thead>
        <tr>
            <th>#</th>
            <th>Recipe</th>
            <th>Prep Time</th>
            <th>Cook Time</th>
            <th>directions</th>
            <th>difficulty</th>
            <th>notes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rec : ${rec}">
            <td th:text="${rec.id}">..</td>
            <td th:text="${rec.description}">..</td>
            <td th:text="${rec.prepTime}">..</td>
            <td th:text="${rec.cookTime}">..</td>
            <td th:text="${rec.directions}">..</td>
            <td th:text="${rec.difficulty.toString()}">..</td>
            <td th:text="${rec.notes.recipeNotes}">..</td>

        </tr>
        </tbody>

    </table>

</div>

</body>
</html>