<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container" align="center">
    <h1>Recipe List</h1>

    <table class="col-md-6" align="center">
        <thead>
        <tr>
            <th>#</th>
            <th>Recipe</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rec : ${rec}">
            <td th:text="${rec.id}">..</td>
            <td th:text="${rec.recipe}">..</td>
        </tr>
        </tbody>

    </table>
</div>

</body>
</html>